In [51]:
import pandas as pd

In [52]:
# Load datafile

maternal_risk_data = pd.read_csv('Maternal Health Risk Data Set.csv', sep = ',')
maternal_risk_data.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [53]:
crosstab_Age_RiskLevel = pd.crosstab(maternal_risk_data['Age'], maternal_risk_data['RiskLevel'])
crosstab_Age_RiskLevel

RiskLevel  high risk  low risk  mid risk
Age
10                 0         2         2
12                 7        15        13
13                 3         2         7
14                 3         0         0
15                 0        56         4
16                 0        10         6
17                24        18        21
18                 0         8        11
19                 2        28        37
20                 0        11        11
21                 0        27        11
22                 5        28        12
23                 5        42        24
24                 0         3         0
25                21        16        11
26                 0         0         3
27                 2         5         2
28                 5         7        16
29                 8         2        30
30                10         6        14
31                 0         7        15
32                18        18        12
33                 2         0         3
34                 3         2         0
35                22        21         7
36                 2         0         2
37                 6         0         0
38                 2         0         0
39                 2         0         2
40                34         1         2
41                 0         1         0
42                 4        15         4
43                 3         0         2
44                 0         0         3
45                 1         8         0
46                 1         0         0
48                16         4         6
49                 2         5         2
50                22         5        16
51                 0         1         0
54                 9         0         3
55                17        12         8
56                 1         0         0
59                 0         2         0
60                 7        13        14
62                 0         1         0
63                 2         0         0
65                 1         2         0
66                 0         1         0
70                 0         1         0

In [54]:
crosstab_BodyTemp_RiskLevel = pd.crosstab(maternal_risk_data['BodyTemp'], maternal_risk_data['RiskLevel'])
crosstab_BodyTemp_RiskLevel

RiskLevel  high risk  low risk  mid risk
BodyTemp
98.0             199       359       246
98.4               0         2         0
98.6               1         0         0
99.0               2         6         2
100.0              5         2        13
101.0             34        14        50
102.0             25        18        23
103.0              6         5         2

In [55]:
crosstab_HeartRate_RiskLevel = pd.crosstab(maternal_risk_data['HeartRate'], maternal_risk_data['RiskLevel'])
crosstab_HeartRate_RiskLevel

RiskLevel  high risk  low risk  mid risk
HeartRate
7                  0         2         0
60                20        33        21
65                 0         2         3
66                25        44        18
67                 5         2         5
68                 0         0         2
70                43       126       102
75                 6         7         6
76                20        55        56
77                25        56        15
78                 9         2        35
80                48        39        30
82                 0        10         9
86                22         7        26
88                30        21         8
90                19         0         0

In [56]:
crosstab_SystolicBP_RiskLevel = pd.crosstab(maternal_risk_data['SystolicBP'], maternal_risk_data['RiskLevel'])
crosstab_SystolicBP_RiskLevel

RiskLevel   high risk  low risk  mid risk
SystolicBP
70                  0         5         2
75                  0         8         0
76                  0        16         0
78                  0         3         0
80                  0         5         0
83                  2         0         0
85                 13        11        19
90                 33        72        49
95                  1         8         3
99                  0         2         0
100                 5        65        22
110                 8         2         9
115                 0         0         8
120                70       208       171
129                 0         1         0
130                12         0        48
135                 3         0         0
140               115         0         5
160                10         0         0

In [57]:
crosstab_DiastolicBP_RiskLevel = pd.crosstab(maternal_risk_data['DiastolicBP'], maternal_risk_data['RiskLevel'])
crosstab_DiastolicBP_RiskLevel

RiskLevel    high risk  low risk  mid risk
DiastolicBP
49                   0        25         0
50                   0        16         8
60                  34        75        65
63                   2         2         4
65                  14        41        32
68                   0         2         0
69                   1         0         0
70                  10        38        52
75                  12        15        11
76                   0         3         0
80                  38        96        92
85                  10        24        15
89                   0         1         0
90                  48        58        47
95                  23         9         4
100                 80         1         6

In [58]:
crosstab_BS_RiskLevel = pd.crosstab(maternal_risk_data['BS'], maternal_risk_data['RiskLevel'])
crosstab_BS_RiskLevel

RiskLevel  high risk  low risk  mid risk
BS
6.00               0         7        14
6.10               2        32        19
6.30               2         0         0
6.40               0         8         2
6.50               0         1         0
6.60               0         2         0
6.70               0        10        23
6.80              10        37        41
6.90               8        47        58
7.00               9        29        41
7.01               5         3         7
7.10               0         8         0
7.20               6        14         0
7.50              11       129        36
7.60               0         1         0
7.70               4        17         3
7.80               5        19        21
7.90              12        34        14
8.00              12         4         6
9.00              12         0        19
10.00              4         0         0
11.00             40         4         8
12.00             12         0         6
13.00              9         0         0
15.00             49         0         5
16.00              8         0         9
17.00              5         0         0
18.00             25         0         4
19.00             22         0         0